:root {
  --dark-gray: #2c3e50;
  --acquamarine: #1abc9c;
  --dark-blue: #3a546d;
}

.debug {
  min-height: 80px;
  border: 1px solid black;
  background-color: rgba(255, 0, 0, 0.2);
}

header {
  height: 90px;
  background-color: var(--dark-gray);
}

main section:nth-child(odd) {
  background-color: var(--acquamarine);
  color: white;
}

.container-jumbotron {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.container-cst {
  width: 70%;
  max-width: 980px;
  margin: 0 auto;
}

footer .footer-top {
  background-color: var(--dark-blue);
}

footer .footer-bottom {
  background-color: var(--dark-gray);
}