:root {
  --dark-gray: #2c3e50;
  --dark-blue: #3a546d;
  --green: #1abc9c;
}

.debug {
  min-height: 80px;
  border: 1px solid black;
  background-color: rgba(255, 0, 0, 0.2);
}

.bg-green {
  background-color: var(--green);
}

.container-cst {
  width: 60%;
  max-width: 980px;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

/* star */
.star i {
  font-size: 1.5rem;
}

.line-star {
  position: absolute;
  top: 50%;
  width: 15%;
  height: 3px;
}

.line-star.before {
  right: 54%;
}

.line-star.after {
  left: 54%;
}

#jumbotron .line-star,
#about .line-star {
  background-color: white;
}

#portfolio .line-star,
#contact-me .line-star {
  background-color: var(--dark-gray);
}

#portfolio .star,
#contact-me .star {
  color: var(--dark-gray);
}
/* end star */


/* HEADER AND NAV */
header {
  height: 90px;
  background-color: var(--dark-gray);
  top: 0;
  right: 0;
}

/* navbar */
.navbar-cst {
  color: white;
}

.navbar-cst a {
  color: white;
}

.navbar-cst a:hover {
  color: var(--green);
}

.navbar-cst .button-cst {
  border-color: white;
}
/* end navbar */
/* end HEADER AND NAV */


/* MAIN */
main {
  margin-top: 90px;
}

/* jumbotron */
main #jumbotron img {
  width: 230px;
}
/* end jumbotron*/

/* portfolio */
main #portfolio .card-cst .overlay {
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(26, 188, 156, 0.6);
}

main #portfolio .card-cst .overlay i {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  color: white;
}

main #portfolio .card-cst:hover .overlay {
  display: block;
}
/* end portfolio */

/* contact-me */
#contact-me .input-cst {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
}

#contact-me .input-cst::placeholder {
  color: var(--dark-gray);
  font-size: 1.1rem;
}

#contact-me .button-cst {
  background-color: var(--green);
  color: white;
  font-size: 1.2rem;
  border: none;
}

#contact-me .button-cst:hover {
  color: white;
  background-color: rgba(6, 148, 120, 0.8);
}
/* end contact-me */

/* end MAIN */


/* FOOTER */
footer .footer-top {
  background-color: var(--dark-blue);
  color: white;
}

footer .footer-top ul i {
  color: white;
  font-size: 1.2rem;
  line-height: 50px;
  width: 50px;
  height: 50px;
}

footer .footer-top .col p a {
  color: var(--green);
}

footer .footer-bottom {
  background-color: var(--dark-gray);
  height: 110px;
  color: white;
}
/* end FOOTER */



/* MEDIA QUERY */

@media screen and (min-width:768px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  main #jumbotron span,
  header nav.navbar-cst a.fw-bold {
    font-size: 1.5rem;
  }

  footer .footer-top .col span:first-child {
    font-size: 1.3rem;
  }

}
